.rhpp_html .oe_form_field_html .note-editable {
    font: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
    width: 750px !important;
    height: 360px !important;
}